<div id='header'>
<div id='header-left'><%= link_to 'Home', root_url%></div>
<div id='right'><%= link_to('Login', login_url) unless  user_logged_in? %></div>
<div id='right'><%= link_to('Logout', logout_path, method: :delete) if user_logged_in? %></div>
</div>
